.cards__list {
  list-style: none;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  row-gap: 20px;
  column-gap: 17px;
  margin-top: 33px;
  padding: 0;
  margin: 0;
  margin-top: 51px;
}
