.cards {
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  max-width: 282px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}

.card__list {
  list-style: none;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  row-gap: 20px;
  column-gap: 17px;
  margin-top: 33px;
  padding: 0;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  align-items: center;
  color: black;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: space-between;
  margin: 0;
  max-width: 252px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.card__title {
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__like-button {
  background: transparent url(../images/like-button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: 0;
  padding: 0;
  padding-right: 30px;
}
