.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  visibility: hidden;
  font-family: "inter", Arial, Helvetica, sans-serif;
  color: black;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  position: fixed;
  margin: 0;
  padding: 0 19px;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative;
  background-color: white;
  padding: 36px;
  border-radius: 10px;
  max-width: 430px;
  display: inherit;
  flex-direction: column;
  z-index: 999;
  max-height: 330px;
}

.modal__container_preview {
  border-radius: 0;
  padding: 0;
  max-width: 75vw;
  max-height: 75vh;
  background-color: rgba(0, 0, 0, 0);
}

.modal__heading {
  align-self: flex-start;
  margin: 0;
  margin-bottom: 24px;
}

.modal__preview-title {
  margin-top: 10px;
  font-size: 12px;
  color: white;
  font-weight: 400;
}

.modal__exit {
  position: absolute;
  cursor: pointer;
  left: calc(100% + 5px);
  bottom: calc(100% + 5px);
  background-image: url(../images/close.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  outline: none;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 14px;
}

.modal__input {
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 13px;
  width: 358px;
  border-bottom: 1px solid rgba(84 84 84 / 0.7);
}
.modal__input-invalid {
  border-bottom-color: red;
}

.modal__button {
  cursor: pointer;
  margin-top: 15px;
  height: 46px;
  border: none;
  color: white;
  background-color: black;
  font-size: 18px;
}

.modal__preview-title {
  margin: 0;
  padding: 0;
}

.modal__preview-image {
  overflow: hidden;
}

.modal_label {
  position: relative;
  padding-bottom: 25px;
}

.modal__input_type_error {
  max-width: 358px;
  color: red;
  font-weight: 400;
  font-size: 12px;
  position: absolute;
  margin: 0;
  top: 90%;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal__input_type_error-visible {
  opacity: 1;
}

.modal__button_disabled {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: not-allowed;
}

@media screen and (max-width: 640px) {
  .modal__exit {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 26px);
    left: 90%;
  }
  .modal__container {
    max-width: 282px;
    padding: 25px 22px;
  }

  .modal__input {
    width: 238px;
  }
  .modal__heading {
    margin-bottom: 40px;
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .modal__button {
    font-size: 14px;
  }
  .modal__heading {
    font-size: 18px;
  }
  .modal__input_type_error-visible {
    font-size: 10px;
  }
}
